<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ cake.nome }}</ion-title>
    <ion-buttons slot="end">
      <ion-tab-button (click)="openCart()">
        <ion-badge *ngIf="cakesOnCart != undefined && cakesOnCart.bolos != undefined && cakesOnCart.bolos.length != 0" color="primary">{{ cakesOnCart.bolos.length }}</ion-badge>
        <ion-icon name="cart"></ion-icon>
        <ion-label *ngIf="cartPrice == 0">Vazio</ion-label>
        <ion-label *ngIf="cartPrice != 0">{{ cartPrice | currency:"BRL":'symbol':"1.2" }}
        </ion-label>
      </ion-tab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="cake.imagem">
    <ion-card-content>
      <ion-card-title>
        {{ cake.nome }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ cake.descricao }}
      </ion-card-subtitle>
      <ion-item>
        <ion-label>Serve {{ cake.serve }} pessoas</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Preço: {{ cake.preco | currency:"BRL":'symbol':"1.2" }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Quantidade</ion-label>
        <ion-input [(ngModel)]="qtde" type="number" (click)="selectQtde()" value="1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label slot="end" color="success">Total {{ cake.preco * qtde | number: '.1-2' }} </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div id="buttons">
    <ion-row>
      <ion-col>
        <ion-button expand="full" fill="outline" color="medium"
          (click)="goBack()">Voltar
          <ion-icon slot="end" name="arrow-back"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" fill="solid" color="success"
          (click)="addCart(cake)">Comprar
          <ion-icon slot="end" name="cart"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
