<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados Para Entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.nome" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CEP</ion-label>
      <ion-input type="number" [(ngModel)]="cliente.endereco.cep" required (ionBlur)="focus()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cidade</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.endereco.cidade" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bairro</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.endereco.bairro" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rua</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.endereco.rua" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Número</ion-label>
      <ion-input type="number" [(ngModel)]="cliente.endereco.numero" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="tel" [(ngModel)]="cliente.telefone" required></ion-input>
    </ion-item>
  </ion-list>


  <ion-button (click)="back()"><ion-icon slot="start" name="arrow-back"></ion-icon>Voltar</ion-button>
  <ion-button (click)="save()"><ion-icon slot="start" name="save"></ion-icon>Salvar</ion-button>

</ion-content>