<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="cakesOnCart.bolos.length == 0">
    <ion-label>O carrinho está vazio</ion-label>
  </ion-item>

  <ion-list *ngIf="cakesOnCart.bolos.length != 0">
    <ion-item-sliding *ngFor="let cake of cakesOnCart.bolos">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="confirmDeleteCart(cake)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-avatar>
          <img [src]="cake.cake.imagem">
        </ion-avatar>
        <ion-label>{{ cake.qtde }}x - {{ cake.cake.nome }}</ion-label>
      </ion-item>
    </ion-item-sliding>
    <ion-item color="tertiary" id="total">Total: {{ total | number: ".1-2" }}</ion-item>
  </ion-list>

  <div>
    <ion-button *ngIf="cakesOnCart.bolos.length != 0" color="success" fill="solid"
      expand="block" (click)="confirmCart()">Confirmar Compra</ion-button>
    <ion-button color="success" fill="outline" expand="block"
      (click)="goHome()">Continuar Comprando</ion-button>
    <ion-button *ngIf="cakesOnCart.bolos.length != 0" color="danger" fill="outline"
      expand="block" (click)="emptyCart()">Esvaziar Carrinho</ion-button>
  </div>
</ion-content>
