<ion-header>
  <ion-toolbar>
    <ion-title>
      Order Cake
    </ion-title>
    <ion-buttons slot="end">
      <ion-tab-button (click)="openCart()">
        <ion-badge *ngIf="cartPrice !== 0" color="primary">{{ cakesOnCart.bolos.length }}</ion-badge>
        <ion-icon name="cart"></ion-icon>
        <ion-label *ngIf="cartPrice == 0">Vazio</ion-label>
        <ion-label *ngIf="cartPrice != 0">{{ cartPrice |
          currency:'BRL':'symbol':'1.2' }} </ion-label>
      </ion-tab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let cake of cakes" (click)="order(cake)">
    <img
      [src]="cake.imagem"
      />
    <ion-card-content>
      <ion-card-title>
        {{ cake.nome }}
      </ion-card-title>
      <div id="chips">
        <ion-chip color="medium">
          <ion-icon name="people"></ion-icon>
          <ion-label>Serve {{ cake.serve }} pessoas</ion-label>
        </ion-chip>
        <ion-chip color="success">
          <ion-icon name="cash"></ion-icon>
          <ion-label>R$ {{ cake.preco }}</ion-label>
        </ion-chip>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
