#chips {
  float: right;
}
#loading-data-error {
  margin-left: 10%;
  margin-right: 10%;
  height: 200px;
  margin-top: 100px;
  text-align: center;
}
.loading-data-error-label {
  margin-top: 40px;
}